<div class="d-flex" >
  <h4 class="text-center m-2 bg-info" style ="width: 100%;">{{ certificate | titlecase }} <img src ="../../../../assets/images/download.png" alt = "download" id ="download" class = "btn justify-content-end" style="height : 3rem;" (click) = "download()"/></h4>
</div>
<table id="course" class="table table-striped">
  <thead>
    <tr>
      <th>Sr.</th>
      <th>Subject</th>
      <th>MarksObtained</th>
      <th>Competency</th>
      <!-- <th><img src ="../../../../assets/images/download.png" alt = "download" class = "btn"> </th> -->
      <!-- <th><button class = "btn btn-danger" (click">Download</button></th> -->
    </tr>
  </thead>
  <tbody>
    <!-- <ng-container
          *ngFor="let course of curricularActivities; let currIndex = index"
        > -->
    <ng-container *ngFor="let course of subjects; let currIndex = index">
      <tr>
        <td>{{ currIndex + 1 }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.marks }}</td>
        <td>{{ course.gp }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
