<div class="d-flex" >
  <h6 class="text-center m-2 bg-info d-flex justify-content-around align-item-baseline" style ="width: 100%;">{{ certificate | titlecase }} <span >Rollnumber : {{rollNumber}}</span><img src ="../../../../assets/images/download.png" alt = "download" id ="download" class = "btn justify-content-end" style="height : 3rem;" (click) = "download()"/></h6>
</div>
<table id="course" class="table table-striped">
  <thead>
    <tr>
      <th>Sr.</th>
      <th>Subject</th>
      <th>MarksObtained</th>
      <th>Competency</th>
      <th>Strength</th>
    </tr>
  </thead>
  <tbody>
    <!-- <ng-container
          *ngFor="let course of curricularActivities; let currIndex = index"
        > -->
    <ng-container *ngFor="let course of subjects; let currIndex = index">
      <tr>
        <td>{{ currIndex + 1 }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.marksObtained }}</td>
        <td>{{ course.gp  }}</td>
        <td>{{ course.gp  > 8 ? "Strong" : "Moderate"}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
