<div class = "report-card">
  <h6 class="heading  m-2 p-2 bg-info" >{{ certificate  }} <span >Rollnumber : {{rollNumber}}</span></h6>
</div>
<div id="course" class="report-card table table-striped">
  <thead>
    <tr>
      <th class=" col-12">Subject</th>
      <th class=" col-12">MarksObtained</th>
      <th class=" col-12">Competency</th>
      <th class=" col-12">Strength</th>
    </tr>
  </thead>
  <tbody>
    <!-- <ng-container
          *ngFor="let course of curricularActivities; let currIndex = index"
        > -->
    <ng-container *ngFor="let course of subjects; let currIndex = index">
      <tr>
        <td>{{ course.name }}</td>
        <td>{{ course.marksObtained }}</td>
        <td>{{ course.gp  }}</td>
        <td>{{ course.gp  > 8 ? "Strong" : "Moderate"}}</td>
      </tr>
    </ng-container>
  </tbody>
</div>
