h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
body{
    background-color: bisque;
}

#user-credentials > p > span {
    display: inline-block;
    font-weight: 600;
    width : 5rem;
    /* margin-right: 1rem; */
}
#user-profile-image{
  width: 150px;
  height: 200px; 
  padding: .25rem;
  border: 1px solid rgb(172, 184, 211);
}

#user-credentials{
    padding: .5rem;
    width: 100%;
    border: 1px solid rgb(172, 184, 211);
}

#qr-image{
    width: 200px !important;
}