<nav class = "nav">
  <div>
    <a routerLink="/" routerLinkActive="active" >
      <div id="home" class="d-flex ">
       <img id= "logo"  src = "https://diksha.gov.in/assets/imgs/logos.svg"  alt= "DIKSHA" />
       <div class = "home-logo">
        <div id ="home-title" class="">Digital Infrastructure for knowledge Sharing</div>
        <div id="home-about" >Ministry of Electronics and Information Technology</div>
       </div>
      </div>
    </a>
  </div>
  <!--  checkbox to control the icon's state    -->
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>
  <!--  main menu    -->
  <ul class="menu">
    <li><a routerLink="/" routerLinkActive="active" >Home</a></li>
    <li><a routerLink="/signin" routerLinkActive="active" >SignIn</a></li>
    <li><a routerLink="/DLP" routerLinkActive="active" >DLP</a></li>
</ul>
</nav>

<router-outlet></router-outlet> 