<div id="user-detail" class="m-3">
  <div id="user-profile">
    <img
      id="user-profile-image"
      src="assets/images/tri-color-bg.png"
      alt="{{ user.name }}"
    />
  </div>

  <div id="user-credentials" class="m-2">
    <!-- <p>{{welcomeMessage}}</p>> -->
    <p><span class = "user-field">Name</span><span class = "user-attribute">{{ user.name }}</span></p>
    <p><span class = "user-field">DoB</span><span class = "user-attribute">{{ user.dob }}</span></p>
    <p><span class = "user-field">Mother Name</span><span class = "user-attribute">{{ user.motherName }}</span></p>
    <p><span class = "user-field">Son/Wife/Daughter of</span><span class = "user-attribute">{{ user.fatherName }}</span></p>
    <p><span class = "user-field">Gender</span><span class = "user-attribute">{{ user.gender }}</span></p>
    <!-- <p><span>Age</span>{{ age }}</p> -->
    <!-- <p *ngIf="aadhar != ''"><span>Aadhar</span>{{ aadhar }}</p> -->
  </div>

  <!-- QR-Code -->

  <div>
    <img
      id="qr-image"
      src="https://www.kindpng.com/picc/m/120-1202089_qr-code-transparent-png-qr-code-png-png.png"
      alt="Qr Code Transparent Png - Qr Code Png, Png Download@kindpng.com"
    />
  </div>
</div>
