<div id="extra-curricular" class="m-2">
    <h2 class="text-center p-2 bg-warning">Extra Curricular</h2>
    <table id="certificate" class="table table-striped">
      <thead>
        <tr>
          <th>Sr.</th>
          <th>Certification</th>
          <th>Marks/Grade</th>
          <th>Competency</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-container
          *ngFor="
            let extraCurricular of extraCurricularActivities;
            let currIndex = index
          "
        >
          <tr>
            <td>{{ currIndex + 1 }}</td>
            <td>{{ extraCurricular.certification }}</td>
            <td>{{ extraCurricular.marks_grade }}</td>
            <td>{{ extraCurricular.competency }}</td>
          </tr>
        </ng-container> -->
      </tbody>
    </table>
  </div>