<div id="co-curricular" class="m-2">
  <app-table [certificate] = "certificate" [subjects]= "subjects"></app-table>

    <!-- <h6 class="text-center p-2 bg-warning">{{certificate}}</h6>
    <table id="course" class="table table-striped">
      <thead>
        <tr>
          <th> Sr.</th>
          <th> Subject</th>
          <th>MarksObtained</th>
          <th>Competency</th>
        </tr>
      </thead>
      <tbody>
       
        <ng-container  *ngFor="let course of subjects; let currIndex = index">
          <tr>
            <td>{{ currIndex + 1 }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.marks }}</td>
            <td>{{ course.gp }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table> -->

     <!-- <ng-container
          *ngFor="let course of curricularActivities; let currIndex = index"
        > -->
  </div>